.gamepad-button {
  &-nintendo {
    @include gamepad-generic-label;

    &--a, &--b, &--x, &--y {
      @include gamepad-generic-button-background;
      @include gamepad-generic-button-rounded;
    }

    &--zl, &--zr {
      @include gamepad-generic-button-background;
      @include gamepad-generic-trigger;
      @include gamepad-generic-trigger-primary;
    }

    &--zl::after {
      content: "ZL";
    }

    &--zr::after {
      content: "ZR";
    }

    &--l, &--r {
      @include gamepad-generic-button-background;
      @include gamepad-generic-trigger;
      @include gamepad-generic-trigger-secondary;
    }

    &--l::after {
      content: 'L';
    }

    &--r::after {
      content: 'R';
    }

    &--variant-switch {
      &.gamepad-button {
        &--arrow-left,
        &--arrow-up,
        &--arrow-down,
        &--arrow-right {
          @include gamepad-generic-arrow-rounded;
        }

        &--arrow-up {
          @include gamepad-generic-arrow-rounded-up;
        }
        &--arrow-down {
          @include gamepad-generic-arrow-rounded-down;
        }
        &--arrow-left {
          @include gamepad-generic-arrow-rounded-left;
        }
        &--arrow-right {
          @include gamepad-generic-arrow-rounded-right;
        }
      }

      &.gamepad-button-nintendo {
        &--a,
        &--b,
        &--x,
        &--y {
          font-size: 16px;
        }
      }
    }

    &--variant-gbc {
      &.gamepad-button-nintendo {
        &--start, &--select {
          @include gamepad-generic-button-background;
          @include gamepad-generic-selects;
        }

        &--start::before {
          content: 'START';
          left: -3px;
        }

        &--select::before {
          content: 'SELECT';
          left: -5px;
        }
      }
    }
  }
}
