.gamepad-button {
  &-playstation {
    text-indent: -9999px;

    @include gamepad-generic-pseudo-label;

    &--square, &--circle, &--cross, &--triangle,
    &--l1, &--l2, &--l3, &--r1, &--r2, &--r3,
    &--select, &--ps {
      @include gamepad-generic-button-background;
    }

    &--square, &--circle, &--cross, &--triangle, &--ps {
      @include gamepad-generic-button-rounded;
    }

    &--square {
      &:before {
        border: 2px solid #D592BD;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
      }
    }

    &--circle {
      &:before {
        border: 2px solid #E94B0E;
        border-radius: 50px;
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
      }
    }

    &--cross {
      &:before {
        border: 1px solid #9DA5D5;
        background: #9DA5D5;
        top: 11px;
        left: 3px;
        right: 3px;
        transform: rotate(45deg);
      }

      &:after {
        border: 1px solid #9DA5D5;
        background: #9DA5D5;
        top: 11px;
        left: 3px;
        right: 3px;
        transform: rotate(135deg);
      }
    }

    &--triangle {
      &:before {
        top: 3px;
        bottom: 0;
        left: 3px;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-right-width: 9px;
        border-left-width: 9px;
        border-bottom: 15px solid #20AF93;
      }

      &:after {
        top: 7px;
        bottom: 0;
        left: 6px;
        right: 0;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-right-width: 6px;
        border-left-width: 6px;
        border-bottom: 9px solid #47484A;
      }
    }

    &--l1, &--r1 {
      @include gamepad-generic-trigger;
      @include gamepad-generic-trigger-primary;
    }

    &--l1::after {
      content: "L1";
    }

    &--r1::after {
      content: "R1";
    }

    &--l2, &--r2 {
      @include gamepad-generic-trigger;
      @include gamepad-generic-trigger-secondary;
    }

    &--l2::after {
      content: 'L2';
    }

    &--r2::after {
      content: 'R2';
    }

    &--l3, &--r3 {
      @include gamepad-generic-stick;

      &:after {
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        background-image:
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
                linear-gradient(90deg, transparent 1px, rgba(0, 0, 0, 0.15) 1px),
                linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
        background-position: 0 0, 0 1px, 0 2px, 0 3px, 0 4px, 0 5px, 0 6px, 0 7px,
        0 8px, 0 9px, 0 10px, 0 11px, 0 12px, 0 13px, 0 14px, 0 15px, 0 16px,
        0 17px, 0 18px, 0 19px, 0 20px, 0 21px, 0 22px, 0 23px, 0 24px,
        0 25px, 0 26px, 0 27px, 0 28px, 0 29px;
        background-repeat: repeat-x;
        background-size: 2px 1px;
      }
    }

    &--l3::after {
      content: 'L3';
    }

    &--r3::after {
      content: 'R3';
    }

    &--start {
      width: 46px;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 24px;
      border-color: transparent transparent transparent #3C3D3F;
      margin-top: -4px;
      margin-left: 3px;
      margin-right: -21px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      &::before {
        content: 'START';
        font-size: 11px;
        top: 11px;
        left: -29px;
      }
    }

    &--select {
      margin-left: 6px;
      margin-right: 7px;
      height: 13px;
      border-radius: 4px;

      &::before {
        content: 'SELECT';
        font-size: 11px;
        top: 17px;
        left: -6px;
      }
    }

    &--ps {
      &::after {
        background-image: url("./icons/ps.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 72%;
        height: 68%;
        top: 16%;
        left: 16%;
      }
    }
  }
}
