.gamepad-button {
  &-xbox {
    @include gamepad-generic-pseudo-label;

    &--a, &--b, &--x, &--y {
      @include gamepad-generic-button;
      @include gamepad-generic-button-background;
      @include gamepad-generic-button-rounded;
      font-weight: 700;
    }

    &--a {
      color: #a3e82d;
      text-shadow: 0 0 0.3em #0d1402;

      &.gamepad-button-xbox--variant-360 {
        background: linear-gradient(145deg, #6a9e11 0%, #98e318 80%);
        box-shadow: 0 0 0.1em 0.1em rgba(163, 232, 45, 0.2),inset 0 0 0.1em 0.1em rgba(203, 242, 137, 0.6);
      }
    }

    &--b {
      color: #ff613e;
      text-shadow: 0 0 0.3em #150400;
      text-indent: 0.05em;

      &.gamepad-button-xbox--variant-360 {
        background: linear-gradient(145deg, #ae2200 0%, #fb3100 80%);
        box-shadow: 0 0 0.1em 0.1em rgba(255, 67, 21, 0.2), inset 0 0 0.1em 0.1em rgba(255, 149, 123, 0.6);
      }
    }

    &--x {
      color: #1d9aff;
      text-shadow: 0 0 0.3em #00101d;

      &.gamepad-button-xbox--variant-360 {
        background: linear-gradient(145deg, #0065b6 0%, #048fff 80%);
        box-shadow: 0 0 0.1em 0.1em rgba(29, 154, 255, 0.2), inset 0 0 0.1em 0.1em rgba(131, 200, 255, 0.6);
      }
    }

    &--y {
      color: #ffde30;
      text-shadow: 0 0 0.3em #302800;

      &.gamepad-button-xbox--variant-360 {
        background: linear-gradient(145deg, #c9a900 0%, #ffda17 80%);
        box-shadow: 0 0 0.1em 0.1em rgba(255, 222, 48, 0.2), inset 0 0 0.1em 0.1em rgba(255, 238, 150, 0.6);
      }
    }

    &--lb, &--rb {
      @include gamepad-generic-button-background;
      @include gamepad-generic-trigger;
      @include gamepad-generic-trigger-primary;
    }

    &--lb::after {
      content: "LB";
    }

    &--rb::after {
      content: "RB";
    }

    &--lt, &--rt {
      @include gamepad-generic-button-background;
      @include gamepad-generic-trigger;
      @include gamepad-generic-trigger-secondary;
    }

    &--lt::after {
      content: 'LT';
    }

    &--rt::after {
      content: 'RT';
    }

    &--l3, &--r3 {
      text-indent: -9999px;
      @include gamepad-generic-button-background;
      @include gamepad-generic-stick;
    }

    &--l3::after {
      content: 'L3';
    }

    &--r3::after {
      content: 'R3';
    }
  }
}
