@font-face {
  font-family: 'RationalTWDisplay';
  src:url('./fonts/RationalTWDisplay.eot');
  src:url('./fonts/RationalTWDisplay.eot?#iefix') format('embedded-opentype'),
  url('./fonts/RationalTWDisplay.woff2') format('woff2'),
  url('./fonts/RationalTWDisplay.woff') format('woff'),
  url('./fonts/RationalTWDisplay.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}